<script>
import axios from 'axios'

export default {
    data () {
        return {
            targetHost: '',
            attackMethods: [
                { text: 'post' }
            ],
            attackMethod: '',
            wordlistUrl: ''
        }
    },

    methods: {
        attack() {
            const wordlist = axios.get(this.wordlistUrl)
            console.log(wordlist)
        }
    }
}
</script>

<template>
    <div>
        <v-card
            class="mx-auto"
            max-width="80%"
            outlined
        >
            <v-card-title>
                KeKe-Cracker
            </v-card-title>

            <v-card-text
                class="pa-4"
            >
                <!-- Target Host -->
                <v-text-field
                    label="Target"
                    v-model="targetHost"
                ></v-text-field>

                <!-- Attack Method -->
                <strong>Attack method: </strong>{{ attackMethod || 'not selected' }}
                <v-radio-group v-model="attackMethod" :mandatory="false">
                    <v-radio label="http-get" value="http-get"></v-radio>
                    <v-radio label="http-post" value="http-post"></v-radio>
                </v-radio-group>

                <!-- Wordlist -->
                <v-text-field
                    label="Wordlist URL"
                    v-model="wordlistUrl"
                ></v-text-field>

                <v-divider
                    class="mx-4"
                ></v-divider>
                
                <v-btn
                    class="blue white--text"
                    @click="attack"
                >
                    Attack
                </v-btn>
            </v-card-text>
        </v-card>
    </div>
</template>

<style scoped>
.v-card {
    left: 10%;
}
</style>

